@{
  Layout = "_Layout";
}

@using PokedexClient.Models;
@model List<PokedexClient.Models.Pokemon>;

<h1>All Pokémon</h1>
<hr/>
@if(@Model.Count == 0)
{
  <h3>No Pokémon have been added yet!</h3>
}
<div class="row">
  <div class="col-md-4">
    @foreach(Pokemon pokemon in Model)
    {
      if (pokemon.PokemonId <= 51)
      {
      <P><img src="@pokemon.ImageSprite" alt="@pokemon.Species"></p>
      <P id="name">@Html.ActionLink($"{pokemon.Species}", "Details", new { id = pokemon.PokemonId })</p>
      }
    }  
  </div>
  <div class="col-md-4">
    @foreach(Pokemon pokemon in Model)
    {
      if (pokemon.PokemonId > 51 && pokemon.PokemonId <= 103)
      {
      <P><img src="@pokemon.ImageSprite" alt="@pokemon.Species"></p>
      <P id="name">@Html.ActionLink($"{pokemon.Species}", "Details", new { id = pokemon.PokemonId })</p>
      }
    }
  </div>
  <div class="col-md-4">
    @foreach(Pokemon pokemon in Model)
    {
      if (pokemon.PokemonId > 103)
      {
      <P><img src="@pokemon.ImageSprite" alt="@pokemon.Species"></p>
      <P id="name">@Html.ActionLink($"{pokemon.Species}", "Details", new { id = pokemon.PokemonId })</p>
      }
    }
  </div>
</div>



